useDynLib("DRIP", .registration=TRUE)
export(stepEdgeLCK, JPLLK_surface, diffLCK, diffLC2K, dKQ,
       stepEdgeParSelLCK, stepEdgeParSelLC2K, diffLLK,
       stepEdgeLC2K, stepEdgeLLK, stepEdgeParSelLLK,
       diffLL2K, stepEdgeLL2K, stepEdgeParSelLL2K, modify1,
       modify2, surfaceCluster, surfaceCluster_bandwidth, roofDiff, roofEdge, roofEdgeParSel, 
       threeStage, threeStageParSel, cv.jpex, jpex)
import(readbitmap, graphics, stats)
importFrom("grDevices", "gray")
