useDynLib("DRIP", .registration = TRUE, .fixes = "C_")

export(stepDiff, stepEdge, stepEdgeParSel, JPLLK_surface, dKQ,
       surfaceCluster, surfaceCluster_bandwidth, roofDiff,
       roofEdge, roofEdgeParSel, threeStage, threeStageParSel,
       cv.jpex, jpex, modify1, modify2)
import(parallel, graphics, stats)
importFrom("grDevices", "gray")
